## Converting data to quarterly

In [ ]:
import pandas as pd

# Load the dataset
file_path = '../../datasets/T10Y2Y.csv'
data = pd.read_csv(file_path)

data.head()

         DATE T10Y2Y
0  1976-06-01   0.68
1  1976-06-02   0.71
2  1976-06-03   0.70
3  1976-06-04   0.77
4  1976-06-07   0.79

In [ ]:
data['DATE'] = pd.to_datetime(data['DATE'])
data.set_index('DATE', inplace=True)


# Convert the 'DGS10' column to numeric, forcing errors to NaN if necessary
data['T10Y2Y'] = pd.to_numeric(data['T10Y2Y'], errors='coerce')

# Resample the data again to quarterly season (January, April, July, October) and calculate the mean
seasonal_mean_data_corrected = data.resample('QS-JAN').mean()