## Converting data to quarterly

In [2]:
import pandas as pd

file_name = 'nonderiv_insider_activity.csv'

# Load the dataset
file_path = f'../../datasets/{file_name}'
data = pd.read_csv(file_path)

data.head()

  transactionDate  net_buys
0      2003-01-01       156
1      2003-01-02       163
2      2003-01-03        77
3      2003-01-04         0
4      2003-01-05         8

In [3]:
data['transactionDate'] = pd.to_datetime(data['transactionDate'])
data.set_index('transactionDate', inplace=True)


# Convert the 'DGS10' column to numeric, forcing errors to NaN if necessary
data['net_buys'] = pd.to_numeric(data['net_buys'], errors='coerce')

# Resample the data again to quarterly season (January, April, July, October) and calculate the mean
seasonal_mean_data_corrected = data.resample('QS-JAN').mean()

In [7]:
seasonal_mean_data_corrected.to_csv(f'../../datasets/quarterly/{file_name}')