In [10]:
import yfinance as yf
import pandas as pd

# Define the tickers for S&P 500 and VIX
tickers = ['^GSPC', '^VIX']  # S&P 500 Index (^GSPC) and VIX (^VIX)

# Download data from 1990 to today, with monthly frequency
data = yf.download(tickers, start='1990-01-01', end=pd.Timestamp.today().strftime('%Y-%m-%d'), interval='3mo')

# Extract the adjusted close prices for the S&P 500 and VIX
sp500 = data['Adj Close']['^GSPC']
vix = data['Adj Close']['^VIX']

# Combine the data into a single DataFrame
combined_data = pd.DataFrame({'S&P 500': sp500, 'VIX': vix})

# Display the first few rows of the data
print(combined_data.head())

[*********************100%%**********************]  2 of 2 completed

               S&P 500        VIX
Date
1990-01-01  339.940002  19.730000
1990-04-01  358.019989  15.500000
1990-07-01  306.049988  29.110001
1990-10-01  330.220001  26.379999
1991-01-01  375.220001  16.879999

In [ ]:
combined_data.to_csv('../datasets/quarterly/sp500_vix_quarterly.csv')

## Converting data to quarterly

In [1]:
import pandas as pd

# Load the dataset
file_path = '../datasets/T10Y2Y.csv'
data = pd.read_csv(file_path)

data.head()

         DATE T10Y2Y
0  1976-06-01   0.68
1  1976-06-02   0.71
2  1976-06-03   0.70
3  1976-06-04   0.77
4  1976-06-07   0.79

In [ ]:
data['DATE'] = pd.to_datetime(data['DATE'])
data.set_index('DATE', inplace=True)


# Convert the 'DGS10' column to numeric, forcing errors to NaN if necessary
data['T10Y2Y'] = pd.to_numeric(data['T10Y2Y'], errors='coerce')

# Resample the data again to quarterly season (January, April, July, October) and calculate the mean
seasonal_mean_data_corrected = data.resample('QS-JAN').mean()

In [9]:
seasonal_mean_data_corrected.to_csv('../datasets/quarterly/T10Y2Y.csv')